/*Configuración del fondo de la página.*/
html {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-color: #fbde92;
}

/*Configuración del color del body con sus bordes y la letra en general*/
body {
    background-color:#fbde92;
    border: 7px solid #156e87;
    font-size: 20px;
    margin: 40px;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Configuración del espacio en el que se ubica el título (color, borde y alineación del texto en este espacio)*/
header {
    text-align: center;
    background-color:#d7ccc1;
    border: 3px solid #d98924;
}

/*Configuración del título propiamente dicho*/
h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}

/*configuracion del espacio en el que las imagenes se insertan, para poder centrarlas en el body*/
.contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

/*Configuración de la foto carnet (tamaño, ocupación del espacio, bordes, forma)*/
#carnet { 
    width: 300px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #78a557;
    border-radius: 50%;
}

/*Configuración del espacio en el que se encuentran los enlaces, para poder posteriormente centrarlos en el body*/
.contenedorEnlaces {
    text-align: center;
}

/*Configuración de los enlaces propiamente dichos, el borde, tamaño, espaciado*/
nav {
    border: 3px solid #156e87;
    font-size: 18px;
    padding: 5px;
    text-align-last: center;
    display: inline-block;
    margin: 0 auto;
}

/*Le agrego espacio a la derecha a uno de los enlaces para que se distancia del otro*/
#Calculadora {
    padding-right: 20px;
}

/*configuración de los artículos, tamaño de letra y espaciados*/
article {
    font-size:20px;
    padding: 10px;
    margin: 10px;
}

/*configuración elementos de las listas, tamaño y espaciado*/
li {
    font-size: 20px;
    margin: 17px;
}

/*Configuración del anexo, el tamaño de letra y los espaciados*/
aside {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}

/*Configuración de la imagen, tamaño en el espacio, borde, espaciado*/
#miku {
    max-width: 100%;
    max-height: 100%;
    border: 5px solid #78a557;
    padding: 0px;
}

/*Configuración espacio en el que se encuentra el video, para poder centrarlo en el body*/
.contenedorVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

/*Configuración del video en particular, sus bordes y tamaño*/
video {
    border: 5px solid #78a557;
    width: 70%; 
    height: auto;
}

/*Configuración pie de página, con borde, tamaño de letra, espaciado y centrado*/
footer {
    border: 3px solid #d98924;
    font-size: 16px;
    padding: 0px;
    text-align-last: center;
}